* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #ffebb8;

}

header {
    padding: 8px 2%;
    background-color: #ffff;
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 72px;
    padding: 30px;
}

.cabecalho-menu {
    height: 72px;
}

.cabecalho-menu-item {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 4vh;
}

.cabecalho-menu-item:hover {
    background-color: #936b09;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid gray;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#title {
    font-family: sans-serif;
    color: #936b09;
    margin-left: 35%;
}

#subtitle {
    font-family: sans-serif;
    color: #936b09;
    margin-left: 36%;
}

form {
    background-color: #ffebb8;
    font-family: sans-serif;
    font-size: 1em;
    color: #936b09;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 2vh;
}

.campo label {
    margin-bottom: 0.2vh;
    color: #936b09;
    display: flex;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #936b09;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.botao {
    font-size: 1.2em;
    background: #936b09;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 40%;
    left: 15%;
    margin-right: -40%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #664a04;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: all 0.3s ease;
}

#check {
    display: inline-block;
}

.rodape {
    padding: 32px;
    border-top: 00.4px solid white;
}

.rodape-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 72px;
}

.rodape-menu a {
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.rodape-menu-item {
    color:white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
}

.rodape-menu-item:hover {
    background-color: #936b09;
}
