
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: #ffebb8;

}

header {
    padding: 8px 2%;
    background-color: #ffff;
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 72px;
    padding: 30px;  
}

.cabecalho-menu {
    height: 72px;
}

.cabecalho-menu-item {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 4vh;
}

.cabecalho-menu-item:hover {
    background-color: #936b09;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid gray;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    color: black;
}

.conteudo-principal-escrito-imagem {
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
       
}

.conteudo-principal-escrito-botao {
    background-color: #a77f1c;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba (0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    transition: all 0.4s ease;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #936b09;
}

.rodape {
    padding: 32px;
    border-top: 00.4px solid white;
}

.rodape-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 72px;
}

.rodape-menu a {
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.rodape-menu-item {
    color:white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
}

.rodape-menu-item:hover {
    background-color: #936b09;
}
