
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Robotp', sans-serif;
    font-size: 100%;
    background: #6b6f78;
}

header {
    padding: 8px 2%;
    background-color: #353B48;
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 72px;
    padding: 30px;
}

.cabecalho-menu {
    height: 72px;
}

.cabecalho-menu-item {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 4vh;
}

.cabecalho-menu-item:hover {
    background-color: #936b09;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid gray;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    color: black;
}

.conteudo-principal-escrito-botao {
    background-color: #353B48;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba (0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    transition: all 0.4s ease;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #936b09;
}

/* Slider */

.carousel-slide {
    padding: 0;
}

.carousel-slide .carousel-inner {
    height: 90vh;
}

.carousel-item {
    top: 30%;
}

/*botão*/

.carousel-control-prev {
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.carousel-control-prev:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #936b09;
}

.carousel-control-next {
    background-color: transparent;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.carousel-control-next:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #936b09;
}


/*.conteudo-principal-carousel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
    left: 50vh;
}

.conteudo-principal-carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}

/*.carousel-container-imagem {

    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
}*/

.rodape {
    padding: 32px;
    border-top: 00.4px solid white;
}

.rodape-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 72px;
}

.rodape-menu a {
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.rodape-menu-item {
    color:white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
}

.rodape-menu-item:hover {
    background-color: #936b09;
}
